@import "tailwindcss";

@layer base {
  :root {
    @apply text-[rgba(255,255,255,0.87)] bg-[#242424] font-sans;
  }

  * {
    scroll-behavior: smooth;
    outline: none !important;
  }

  body {
    @apply w-screen h-screen relative m-0 select-none;
  }

  #root {
    @apply w-screen h-screen;
  }
}

.highlight {
  @apply hover:text-[#e0bfff] transition-colors duration-300
}

.gradwhite {
  background: linear-gradient(to bottom, #fff0, #fff);
}

